@import "tailwindcss";

/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffce1a;
  --color-secondary: #0d0842;
  --color-blackBg: #f3f3f3;
  --color-favorite: #ff5841;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Nunito Sans", sans-serif;
}
body {
  font-family: var(--font-primary);
}
